<!DOCTYPE html>
<html ng-app='app'>

<head>
    <meta charset="utf-8">
    <title>Angular Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src="js/controllers/mainController.js"></script>
</head>

<body ng-controller='mainController'>
    <form ng-submit="addPersonne()">
        <fieldset>
            <label for="prenom">Prénom: </label><br/>
            <input type="text" id="prenom" ng-model="newPersonne.prenom" required><br/>
            <label for="nom">Nom: </label><br/>
            <input type="text" id="nom" ng-model="newPersonne.nom" required><br/>
            <label for="email">Email: </label><br/>
            <input type="text" id="email" ng-model="newPersonne.email" required><br/>
            <button type="submit">Ajouter</button>
        </fieldset>
    </form>
    
    <table>
        <tr ng-repeat="newPersonne in personne">
            <td>
                {{ newPersonne.prenom }} {{ newPersonne.nom }} <br/> {{ newPersonne.email }}
            </td>
        </tr>
    </table>
</body>

</html>